.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.espacio-icono-footer {
  padding-right: 10px; }
