$yellow:#fffa19;

@mixin margenes($top,$bottom) {
    margin-top:$top;
    margin-bottom:$bottom;
}

.jumbotron{
	background-color:$yellow;
	color:black;
	@include margenes(50,0);
}
footer{
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10, 0);
}

.card-hotel{
	flex: 1 200px;
    @include margenes(10,0);

}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.espacio-icono-footer{
	padding-right:10px;
}
